@import '/node_modules/swiper/swiper-bundle.css';
@import '/node_modules/swiper/modules/navigation-element.css';
@import '/node_modules/swiper/modules/pagination-element.css';

@font-face {
    font-family: 'Bebas Neue Cyrillic';
    src: url('../fonts/BebasNeueCyrillic/BebasNeueCyrillic.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue/BebasNeue-Light.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue/BebasNeue-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
}

body {
    margin: 0;
    font-family: Bebas Neue Cyrillic, serif;
    font-size: 25px;
    color: #000;

    --fz: 25px;
    --mb: 100px;
}

body.overflow-hidden {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

img {
    width: inherit;
    max-width: inherit;
    height: inherit;
    max-height: inherit;
    object-fit: inherit;
    object-position: inherit;
    border-radius: inherit;
}

section {
    opacity: 0;
    transform: translateY(150px);
    transition: transform 0.5s, opacity 0.5s;
}

.container {
    max-width: 1440px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

header {
    position: sticky;
    top: 0;
    z-index: 30;
    background: #fff;
}

header .container {
    gap: 40px;
}

header nav.menu,
header .socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap: 25px;
}

header nav.menu li {
    text-transform: uppercase;
    color: #90242E;
    font-weight: 400;
    line-height: 31px;
}

header .socials {
    font-weight: 400;
}

.burger {
    display: none;
}

.burger .burger-close {
    display: none;
}

.mobile {
    font-size: 20px;
    line-height: 20px;
    position: fixed;
    left: 0;
    display: none;
    top: -100%;
    width: 100%;
    z-index: 10;
    background: #fff;
    transition: ease-in-out 0.25s;
    height: calc(100vh - 96px);
    flex-direction: column;
    justify-content: space-between;
}

.mobile .container {
    padding: 30px 20px;
    flex-wrap: wrap;
    align-items: start;
    margin: 0;
}

.mobile-menu {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    list-style-type: none;
    gap: 25px;
    text-transform: uppercase;
    color: #90242E;
    font-weight: 400;
    line-height: 31px;
}

.mobile-socials {
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-direction: column;
    list-style-type: none;
    gap: 25px;
    font-weight: 400;
    line-height: 31px;
}

.mobile-image {
    width: 100%;
    margin-top: 50px;
    object-fit: contain;
    object-position: center;
    display: flex;
}

.social-wrapper {
    display: flex;
    align-items: center;
    gap: calc(var(--mb) / 2);
}

section.quote {
    position: relative;
}

.quote-text {
    padding: 20px;
    font-weight: 400;
    font-size: 135px;
    line-height: 135px;
    text-align: right;
    width: 70%;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    position: absolute;
    right: 20px;
    user-select: none;
}

section.quote .quote-image {
    padding-top: 120px;
    width: 100%;
    height: 100%;
    display: flex;
}

footer {
    background: #3C3C3C;
    height: 50vh;
    position: relative;
}

.footer-strokes {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    display: flex;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: calc(100% - 40px);
}

.footer-menu, footer .socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    color: #fff;
    list-style: none;
}

.copyright {
    color: #fff;
}

.marquee-wrapper {
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    height: 100%;
    align-items: center;
}

.marquee-line {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll 10s linear infinite;
    max-width: fit-content;
}


/*MAIN*/
.banner {
    font-family: Bebas Neue, serif;
    margin-bottom: var(--mb);
}

.banner-wrapper {
    display: flex;
    flex-direction: column;
}

.banner-wrapper h1 {
    font-weight: 700;
    font-size: 85px;
    line-height: 98px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.slash {
    width: 168px;
    height: 7px;
    background: #90242E;
    display: block;
    margin: 0 20px;
}

.banner-textarea {
    display: flex;
    flex-direction: column;
    position: relative;
}

.banner-text {
    position: absolute;
    top: -25px;
    left: 40px;
    width: 375px;
    font-weight: 400;
    font-size: var(--fz);
    line-height: 36px;
}

.banner-image {
    width: 100%;
    height: 465px;
    display: flex;
    object-fit: cover;
}

.banner-square {
    position: absolute;
    bottom: -20px;
    left: -20px;
    width: 291px;
    height: 100%;
    max-height: 291px;
    background: #90242E;
    z-index: -1;
}

.banner-button {
    padding: 20px 100px;
    position: absolute;
    bottom: -20px;
    right: 40px;
    color: #fff;
    border-radius: 10px;
    background: #90242E;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    transition: ease-in-out 0.25s;
}

.banner-strokes {
    position: absolute;
    right: 5px;
    top: 50%;
    z-index: -1;
}

.trophies {
    margin-bottom: var(--mb);
    font-family: Bebas Neue, serif;
}

.trophies-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.trophy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trophy-big {
    font-weight: 700;
    font-size: 70px;
    line-height: 104px;
    color: #90242E;
    font-family: Roboto , serif;
}

.trophy-small {
    font-weight: 400;
    font-size: var(--fz);
    line-height: 18px;
}

.projects {
    margin-bottom: var(--mb);
}

.projects-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projects-wrapper-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
    position: relative;
    font-family: Bebas Neue Cyrillic, serif;
    margin-bottom: var(--mb);
}

.ladder-title-background {
    position: absolute;
    margin: 0;
    top: -60px;
    font-weight: 400;
    font-size: 100px;
    line-height: 126px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    user-select: none;
}

.ladder-title {
    margin: 0;
    font-weight: 400;
    font-size: 65px;
    line-height: 81px;
}

.more-button {
    font-weight: 400;
    font-size: var(--fz);
    line-height: 37px;
    color: #90242E;
}

.projects-wrapper-bottom {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 70px 40px;
}

.project-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.project-name {
    font-family: Bebas Neue Cyrillic, serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 45px;
    color: #fff;
}

.project-description {
    font-family: Roboto, serif;
    font-weight: 400;
    font-size: var(--fz);
    line-height: 30px;
    color: #fff;
    width: 515px;
}

.project-detail {
    position: absolute;
    top: 30px;
    right: 20px;
}

.marquee {
    background: #90242E;
    height: 96px;
    margin-bottom: var(--mb);
}

.marquee-text {
    flex: 0 0 auto;
    font-weight: 400;
    font-size: var(--fz);
    line-height: 31px;
    color: #fff;
}

.rent {
    margin-bottom: var(--mb);
}

.rent > .container {
    flex-direction: column;
    align-items: start;
    margin-bottom: calc(var(--mb) / 2);
}

.rent-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: calc(var(--mb) / 2);
    position: relative;
}

.rent-text {
    font-family: Roboto, serif;
    font-weight: 400;
    font-size: var(--fz);
    line-height: 29px;
}

.rent-image-wrapper {
    position: relative;
    width: 100%;
}

.rent-image-border {
    height: 7px;
    width: 35%;
    background: #90242E;
    margin-bottom: 80px;
}

.rent-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 650px;
    margin-bottom: var(--mb);
}

.gallery-col {
    width: calc(50% - 10px);
    height: 100%;
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.gallery-image img {
    width: 100%;
    height: 100%;
}

.h-33 {
    height: calc(33.33333% - 10px);
}

.h-50 {
    height: calc(50% - 10px);
}

.h-66 {
    height: calc(66.66666% - 10px);
}

.w-50 {
    width: calc(50% - 10px);
}

.map {
    margin-bottom: var(--mb);
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.map #map {
    width: 100%;
    height: calc(100vh / 1.5);
}

.map-text {
    width: 100%;
    position: absolute;
    left: 20px;
    top: 0;
    font-family: Roboto , serif;
    font-size: var(--fz);
    line-height: 29px;
    font-weight: 400;
}

.map-title {
    font-weight: 400;
    font-size: 100px;
    line-height: 126px;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    user-select: none;
    width: 100%;
    position: absolute;
    right: 20px;
    top: -40px;
    text-align: right;
}

.map-image {
    width: 100%;
}

.form {
    margin-bottom: var(--mb);
    width: 100%;
    position: relative;
}

.form .container {
    justify-content: end;
    height: 570px;
}

.form-image {
    width: 75%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.form-image img {
    width: 100%;
    object-fit: cover;
}

.form-form {
    display: flex;
    flex-direction: column;
    background: #90242E;
    border-radius: 12px;
    border: 1px solid #ACACAC;
    padding: 35px calc(var(--mb) / 2);
    width: 52%;
    z-index: 1;
    position: relative;
}

.form-block {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
}

.form-form.loading .form-block {
    display: block;
}

.form-title {
    color: #fff;
    font-weight: 400;
    font-size: 65px;
    line-height: 81px;
    text-transform: uppercase;
}

.form-description {
    font-family: Roboto , serif;
    font-size: var(--fz);
    font-weight: 700;
    line-height: 45px;
    opacity: 75%;
    color: #fff;
    margin-bottom: calc(var(--mb) / 2);
}

.form-fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: calc(var(--mb) / 2);
}

.field input {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    padding-block-start: 10px;
    outline: none;
}

.field input::placeholder,
.field input {
    font-weight: 300;
    font-family: Roboto , serif;
    font-style: italic;
    font-size: var(--fz);
    line-height: 30px;
    color: #fff;
}

.form-button input {
    background: #fff;
    padding: 17px 85px;
    color: #90242E;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.form-button input[type="submit"] {
    transition: ease-in-out 0.25s;
}

.partners {
    margin-bottom: var(--mb);
    display: flex;
    flex-direction: column;
}

.partners-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.partner {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    color: #888888;
}

.delimiter {
    background: #90242E;
    height: 8px;
    width: 8px;
}

.gallery-2 {
    margin-bottom: var(--mb);
}

.gallery-2-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 865px;
}

.gallery-2-col {
    width: calc(33.33333% - 15px);
    height: 100%;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.gallery-2-row {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-2-row img {
    height: 100%;
}

.gallery-2-row-1 {
    height: calc(25% - 15px);
}

.gallery-2-row-2 {
    height: calc(50% - 15px);
}

.gallery-2-row-3 {
    height: calc(75% - 15px);
}

.reviews {
    margin-bottom: calc(var(--mb) + (var(--mb) / 2));
}

.reviews .container {
    flex-direction: column;
    align-items: start;
}

.review-top {
    position: relative;
    margin-bottom: var(--mb);
}

.review-bottom {
    width: 100%;
}

.review {
    padding: 30px 35px;
    border: 2px solid;
    border-radius: 10px;
    background: #fff;
}

.review * {
    user-select: none;
}

.swiper-slide-active .review {
    background: rgba(144, 36, 46, 0.2);
}

.review-title {
    font-weight: 400;
    font-size: var(--fz);
    line-height: 36px;
    color: #90242E;
    margin-bottom: 35px;
}

.review-text {
    width: 245px;
    font-weight: 500;
    font-size: var(--fz);
    line-height: 30px;
    font-family: Roboto , serif;
}

.swiper-navigation {
    margin-top: calc(var(--mb) / 2);
    width: 100%;
    position: relative;
}
/*MAIN*/

/*ABOUT*/
.about {
    margin-bottom: var(--mb);
    padding-top: calc(var(--mb) + 60px);
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-wrapper-top {
    margin-bottom: var(--mb);
}

.about-wrapper-top .ladder-title-background,
.faq-top .ladder-title-background {
    top: -40px;
}

.about-wrapper-bottom {
    display: flex;
    height: 700px;
    position: relative;
    width: 100%;
    margin-bottom: calc(var(--mb) / 2);
}

.about-image {
    position: absolute;
    display: flex;
    width: 55%;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-wrapper-bottom .about-image:first-child {
    top: 0;
    left: 0;
}

.about-wrapper-bottom .about-image:last-child {
    justify-content: end;
    bottom: 0;
    right: 0;
}

.about-wrapper-text {
    font-family: Roboto, serif;
    line-height: 30px;
}

.about-marquee {
    margin-bottom: var(--mb);
}

.about-marquee .about-marquee-text {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    font-weight: 400;
    font-size: 65px;
    line-height: 80px;
}

.about-marquee .about-marquee-text p {
    white-space: nowrap;
}

.about-marquee .marquee-line {
    margin-right: 0;
}

.director {
    margin-bottom: var(--mb);
}

.director-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.director-image {
    width: 47.5%;
    height: 100%;
    border-radius: 10px;
}

.director-image img {
    width: 100%;
    object-fit: cover;
}

.director-info {
    width: 45%;
    padding: calc(var(--mb) / 2) 20px;
    display: flex;
    flex-direction: column;
    color: #070707;
}

.director-post {
    margin-bottom: 15px;
}

.director-name {
    font-size: 65px;
    line-height: 65px;
}

.director-description {
    margin-bottom: calc(var(--mb) / 2);
    font-family: Roboto, serif;
    line-height: 37px;
}

.director-quote {
    font-size: 50px;
    line-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.director-quote-text {
    width: 77.5%;
}

.partners-line {
    height: 7px;
    background: #90242E;
    width: 35%;
}

.partners-line.partners-line-left {
    margin-bottom: calc(var(--mb) / 2);
}

.partners-line.partners-line-right {
    margin-top: calc(var(--mb) / 2);
    align-self: end;
}

.certificates {
    margin-bottom: var(--mb);
}

.certificates .certificate {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.literacy {
    margin-bottom: var(--mb);
}

.literacy .literacy-items {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.page-about .swiper {
    height: 680px;
}

.faq {
    padding-top: calc(var(--mb) / 2);
    margin-bottom: var(--mb);
}

.faq .container {
    flex-direction: column;
    align-items: start;
}

.faq-bottom {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    width: 100%;
    margin: var(--mb) auto 0;
}

.faq-item {
    border-bottom: 1px solid #3A3C35;
    margin-bottom: 25px;
}

.faq-title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    cursor: pointer;
}

.faq-description-block {
    overflow: hidden;
    max-height: 0;
    transition: ease-in-out 0.25s;
    height: 100%;
}

.dropdown-button {
    transition: ease-in-out 0.25s;
}

.faq-item.active .dropdown-button {
    transform: rotate(45deg);
}

.faq-item.active .faq-description-block {
    max-height: 1000px;
}

.faq-description {
    padding-bottom: calc(var(--mb) / 2);
    line-height: 37px;
    color: #070707;
    font-family: Roboto, serif;
}

.faq-title {
    line-height: 25px;
    color: #3A3B35;
}
/*ABOUT*/

/*PORTFOLIO*/
.portfolio-banner {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: end;
    margin-bottom: var(--mb);
}

.portfolio-banner-image {
    width: 100%;
    object-fit: cover;
    height: calc(100vh - 71px);
}

.portfolio-banner-image img {
    height: 100%;
}

.portfolio-banner-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
}

.portfolio-banner .container {
    justify-content: end;
}

.portfolio-banner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 545px;
    padding-top: calc(var(--mb) - 10px);
    font-family: Bebas Neue, serif;
}

.portfolio-banner-wrapper h1 {
    display: flex;
    flex-direction: column;
    width: 545px;
    padding-top: calc(var(--mb) - 10px);
    font-size: 85px;
    line-height: 98px;
    font-weight: 700;
    margin: 0 0 calc(var(--mb) / 2);
}

.portfolio-banner-wrapper .portfolio-banner-text {
    line-height: 36px;
    width: 375px;
}

.portfolio {
    width: 100%;
}

.portfolio-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.portfolio-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb);
}

.portfolio-item.portfolio-item-additional {
    margin-bottom: calc(var(--mb) + 50px);
}

.portfolio-item-image-block {
    width: 55%;
}

.portfolio-item-text-block {
    width: 32%;
}

.portfolio-item-image-block .swiper {
    height: 460px;
    margin-bottom: 45px;
}

.portfolio-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.portfolio-item-chars {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.portfolio-item-char {
    width: 205px;
    height: 60px;
    font-weight: 600;
    font-size: 23px;
    line-height: 23px;
    color: #070707;
    font-family: Roboto, serif;
    background: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.portfolio-item-text-block h3 {
    margin: 0 0 65px;
    font-size: 50px;
    line-height: 50px;
    color: #90242E;
}

.portfolio-item-text {
    line-height: 30px;
    font-family: Roboto, serif;
}

.portfolio-item-reverse {
    flex-direction: row-reverse;
}

.portfolio-item-simple {
    flex-direction: column;
}

.portfolio-item-clear-image-wrapper {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin-bottom: 65px;
}

.portfolio-item-clear-image {
    width: 50%;
    object-fit: cover;
    display: flex;
}

.portfolio-item-clear-image img {
    width: 100%;
}

.portfolio-item-clear-image-col {
    width: calc(50% - 40px);
}

.portfolio-item-clear-col-image {
    width: 100%;
    height: 265px;
    margin-bottom: calc(var(--mb) / 2);
    object-fit: cover;
}

.portfolio-item-clear-image-col h3 {
    margin: 0;
    font-size: 50px;
    line-height: 50px;
    color: #90242E;
}

.portfolio-item-clear-text {
    line-height: 29px;
    font-family: Roboto, serif;
}

.portfolio-item-additional {
    flex-direction: column;
    position: relative;
}

.portfolio-item-additional h3 {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 100px;
    line-height: 126px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin: 25px 0 0;
}

.portfolio-item-collapse-image {
    position: relative;
    height: 100%;
}

.portfolio-item-collapse-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.portfolio-item-collapse-additional-text {
    font-size: 65px;
    line-height: 65px;
    position: relative;
    width: fit-content;
}

.portfolio-item-collapse-additional-text--left {
    margin-bottom: calc(var(--mb) / 2);
    margin-left: auto;
}

.portfolio-item-collapse-additional-text--right {
    margin-top: calc(var(--mb) / 2);
}

.additional-text-stroke {
    position: absolute;
    width: 7px;
    height: 360px;
    background: #90242E;
    left: 50%;
    top: 100px;
}

.portfolio-item-collapse-additional-text--right .additional-text-stroke {
    height: 175px;
    top: -200px;
}

.portfolio-item-collapse-text-wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: -50px;
    right: 0;
}

.portfolio-item-collapse-text {
    width: 50%;
}

.portfolio-item-collapse-additional-text-stroke {
    width: 525px;
}

.portfolio-video {
    margin-bottom: var(--mb);
}

.video-wrapper {
    width: 100%;
    position: relative;
}

.video-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(217, 217, 217, 0.5);
    z-index: 1;
    cursor: pointer;
}

.video-wrapper video {
    width: 100%;
}

.video-wrapper.play .video-button {
    display: none;
}
/*PORTFOLIO*/

/*CONTACTS*/
.contacts {
    margin-bottom: var(--mb);
    padding-top: calc(var(--mb) + 60px);
}

.contacts-wrapper-top .ladder-title-background {
    top: -40px;
}

.page-contacts .map-title {
    text-align: left;
    position: static;
    color: unset;
    -webkit-text-stroke-color: unset;
    -webkit-text-stroke-width: unset;
}

.page-contacts .map-title .ladder-title-background {
    top: -40px;
}

.page-contacts .map-text {
    text-align: right;
    position: static;
}

.contacts-info {
    margin-bottom: var(--mb);
}

.contacts-info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--mb) / 2);
    color: #90242E;
    align-items: end;
}

.contacts-info-row {
    display: flex;
    align-items: center;
    gap: 65px;
}

.contacts-info-email {
    text-decoration: underline;
}

.ymaps3--default-marker__background {
    color: #90242E !important;
}
/*CONTACTS*/

/*RENT*/
.rent-block {
    margin-bottom: var(--mb);
}

.rent-page {
    margin-bottom: var(--mb);
    padding-top: calc(var(--mb) + 60px);
}

.rent-page-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rent-page .container {
    margin-bottom: var(--mb);
}

.rent-block-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rent-block-item {
    display: flex;
    flex-direction: column;
}

.rent-block-item-top {
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid;
    padding: 20px calc(var(--mb) / 2);
}

.rent-block-wrapper .rent-block-item:last-child .rent-block-item-top {
    border-bottom: 1px solid;
}

.rent-block-image {
    margin-right: 85px;
}

.rent-block-arrow {
    position: absolute;
    right: calc(var(--mb) / 2);
    cursor: pointer;
    transition: ease-in-out 0.25s;
}

.rent-block-item-items {
    display: flex;
    flex-direction: column;
    padding: calc(var(--mb) / 2);
    gap: calc(var(--mb) / 4);
}

.rent-block-sub-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rent-block-sub-item-title {
    line-height: 30px;
    color: #90242E;
    display: list-item;
}

.rent-block-item-bottom {
    max-height: 0;
    overflow: hidden;
    transition: ease-in-out 0.25s;
    height: 100%;
}

.rent-block-item.show .rent-block-item-bottom {
    max-height: 3000px;
}

.rent-block-item.show .rent-block-arrow {
    transform: rotate(180deg);
}
/*RENT*/

.form-error, .form-success {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    margin-bottom: 10px;
}

.gallery-2.swiper-block {
    display: none;
}

section.projects .projects-wrapper-bottom.swiper-block {
    display: none;
}

.more-button.more-button-bottom {
    display: none;
}

.swiper-pagination-bullet {
    opacity: 1;
    background: #D9D9D9;
}

.swiper-pagination-bullet-active {
    background: #979797;
}

.swiper-button-next:after, .swiper-button-prev:after {
    content: url(/imgs/paginationArrow.svg);
    height: 20px;
    font-size: 0;
}

.swiper-button-next:after {
    transform: rotate(180deg);
}

.logo-wrapper {
    width: 100%;
}

.about-wrapper-bottom.swiper-block {
    display: none;
}

.page-about .gallery.swiper-block {
    display: none;
}

.banner-button:hover,
.form-button input[type="submit"]:hover {
    background: #000;
    color: #fff;
}

.form-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}

.form-popup.active {
    display: block;
}

.form-popup-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 0;
}

.form-popup-body {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-popup-wrapper {
    padding: var(--mb) 20px;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(var(--mb) / 2);
    position: relative;
}

.form-popup-wrapper-close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.form-popup-wrapper-title {
    font-size: 65px;
    line-height: 65px;
    font-weight: 400;
    text-align: center;
}

.form-popup-wrapper-description {
    line-height: 45px;
    font-weight: 500;
    text-align: center;
}

.form-popup-wrapper-icon svg {
    width: calc(var(--mb) * 2);
    display: none;
}

.form-popup-wrapper-icon svg.active {
    display: inline-block;
}

.more-button:hover,
header .social.phone:hover,
header .menu li a:hover,
.footer-menu li a:hover,
footer .social.phone:hover,
footer .social.email:hover,
.contacts-info-phone:hover {
    text-decoration: underline;
}

.quote.quote-left {
    position: absolute;
    top: 0;
    left: -175px;
}

.quote.quote-right {
    position: absolute;
    bottom: 0;
    right: -20px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@media(max-width: 1440px) {
    .container {
        max-width: 1210px;
    }

    .quote-text {
        width: 90%;
    }

    section.quote .quote-image {
        padding-top: 180px;
    }
}

@media(max-width: 1215px) {
    body {
        --fz: 20px;
        --mb: 50px;
    }

    .container {
        width: auto;
    }

    .burger {
        display: block;
    }

    .burger.active .burger-close {
        display: block;
    }

    .burger.active .burger-open {
        display: none;
    }

    .mobile.active {
        display: flex;
        top: 96px;
    }

    header nav.menu,
    header .socials {
        display: none;
    }

    /*MAIN*/
    .banner-wrapper h1 {
        font-size: 50px;
        line-height: 58px;
    }

    .banner-textarea.container {
        padding: 0;
    }

    .banner-image {
        height: 355px;
    }

    .banner-square {
        display: none;
    }

    .banner-text {
        left: 20px;
        font-size: 20px;
        width: calc(100% - 40px);
    }

    .banner-button {
        right: unset;
    }

    .banner-strokes {
        display: none;
    }

    .trophies-wrapper {
        flex-direction: column;
    }

    .ladder-title-background {
        font-size: 50px;
        line-height: 65px;
        top: -30px;
        height: 65px;
        overflow: hidden;
    }

    .ladder-title {
        font-size: 40px;
        line-height: 45px;
    }

    .projects-wrapper-top .more-button {
        display: none;
    }
    /*MAIN*/

    section.rent, section.projects {
        padding-top: calc(var(--mb) / 2);
    }

    p {
        white-space: break-spaces;
    }

    .banner-wrapper h1 span {
        display: none;
    }

    .rent-top .more-button {
        display: none;
    }

    .rent-image-border {
        margin-bottom: 40px;
    }

    section.gallery > .gallery-col:first-child {
        display: none;
    }

    section.gallery > .gallery-col:last-child {
        width: 100%;
        padding: 0 20px;
    }

    section.map > .container {
        width: calc(100% - 40px);
    }

    .map-title {
        font-size: 50px;
        line-height: 50px;
        text-align: left;
        right: unset;
    }

    .map-image {
        height: 400px;
        object-fit: cover;
    }

    section.form .container {
        padding: 0;
    }

    .form-image {
        display: none;
    }

    .form-form {
        width: -webkit-fill-available;
    }

    .form-fields {
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }

    .partner {
        font-size: 40px;
        line-height: 40px;
    }

    .partners-wrapper {
        flex-direction: column;
        gap: 10px;
    }

    .gallery-item {
        width: 100%;
        height: 100%;
        display: flex;
        object-fit: cover;
    }

    .gallery-2 {
        display: none;
    }

    .gallery-2.swiper-block {
        display: block;
    }

    .gallery-2.swiper-block .swiper-slide {
        height: auto;
    }

    section.projects .projects-wrapper-bottom {
        display: none;
    }

    section.projects .projects-wrapper-bottom.swiper-block {
        display: block;
    }

    section.projects .projects-wrapper-bottom.swiper-block .swiper {
        width: 100%;
        height: 100%;
        padding-bottom: var(--mb);
    }

    .project {
        flex-direction: column;
        align-items: start;
    }

    .project-name {
        margin-bottom: var(--mb);
    }

    .more-button.more-button-bottom {
        display: block;
        text-align: center;
        margin-top: var(--mb);
    }

    .form .container {
        height: auto;
    }

    .gallery-2.swiper-block {
        height: 500px;
    }

    .gallery-2.swiper-block .swiper {
        height: 100%;
    }

    .gallery-2 {
        margin-bottom: calc(var(--mb) + 20px);
    }

    .quote-text {
        font-size: var(--mb);
        line-height: var(--mb);
        right: 0;
        width: calc(90% - 20px);
    }

    .footer-strokes {
        display: none;
    }

    footer {
        height: auto;
    }

    footer .container {
        flex-wrap: wrap;
        flex-direction: row;
        font-size: 20px;
        line-height: 20px;
    }

    .footer-menu, footer .socials {
        flex-direction: column;
        width: 50%;
        gap: 20px;
    }

    footer .socials .social {
        order: 3;
        width: calc(50% - 20px);
    }

    footer .socials .social.phone {
        order: 1;
        width: 100%;
    }

    footer .socials .social.email {
        order: 2;
        width: 100%;
    }

    .footer-menu {
        align-items: start;
    }

    footer .socials {
        align-items: end;
        flex-wrap: wrap;
        flex-direction: row;
        font-size: 16px;
    }

    footer .logo {
        width: 140px;
        margin-bottom: 40px;
    }

    .copyright {
        margin-top: var(--mb);
    }

    .marquee-line {
        margin-right: 100vw;
    }

    .about-wrapper-bottom {
        display: none;
    }

    .about-image {
        width: 100%;
    }

    .about-wrapper-bottom.swiper-block {
        display: block;
    }

    .about-wrapper-top .ladder-title-background, .faq-top .ladder-title-background, .page-contacts .map-title .ladder-title-background {
        top: -10px;
    }

    .about-marquee .about-marquee-text {
        font-size: var(--mb);
        line-height: var(--mb);
    }

    .director-wrapper {
        flex-direction: column;
    }

    .director-image, .director-info {
        width: 100%;
    }

    .page-about .gallery {
        display: none;
    }

    .page-about .gallery.swiper-block {
        display: block;
        margin-bottom: calc(var(--mb) * 2);
    }

    .page-about .gallery.swiper-block .swiper {
        padding-bottom: var(--mb);
    }

    .portfolio-item {
        flex-direction: column-reverse;
    }

    .portfolio-item-text-block h3, .portfolio-item-text-block {
        margin-bottom: calc(var(--mb) / 2);
    }

    .portfolio-item-image-block, .portfolio-item-text-block {
        width: 100%;
    }

    .additional-text-stroke {
        display: none;
    }

    .portfolio-item-additional {
        flex-direction: column;
    }

    .portfolio-item-collapse-additional-text-stroke {
        display: none;
    }

    .portfolio-item-collapse-additional-text {
        display: none;
    }

    .portfolio-item-additional h3 {
        font-size: 60px;
        line-height: 75px;
        margin-bottom: 15px;
    }

    .portfolio-item-collapse-text-wrapper {
        font-size: 20px;
        line-height: 20px;
        justify-content: start;
        margin-top: 25px;
    }

    .portfolio-item-collapse-text-wrapper, .portfolio-item-additional h3 {
        position: static;
    }

    .portfolio-item-collapse-text {
        width: 100%;
    }

    .portfolio-item.portfolio-item-additional {
        margin-bottom: var(--mb);
    }

    .portfolio-item-simple {
        flex-direction: column;
    }

    .portfolio-item-clear-image-wrapper {
        flex-direction: column-reverse;
    }

    .portfolio-item-clear-image-col .portfolio-item-clear-col-image {
        display: none;
    }

    .portfolio-item-clear-image-col, .portfolio-item-clear-image {
        width: 100%;
    }

    .portfolio-item-clear-image {
        height: 360px;
    }

    .portfolio-video .container {
        padding: 20px 0;
    }

    .page-contacts .map-text {
        text-align: left;
    }

    .contacts-info-wrapper {
        flex-direction: row;
        justify-content: space-between;
        font-size: 20px;
        line-height: 25px;
    }

    .contacts-info-row {
        flex-direction: column;
        align-items: start;
        gap: 15px;
    }

    .contacts-info-row svg {
        width: 20px;
        height: 20px;
    }

    .rent-page .container, .rent-page {
        margin-bottom: calc(var(--mb) / 2);
    }

    .rent-block .container {
        padding: 0;
    }

    .rent-block-item-items {
        padding-left: 40px;
    }

    .portfolio-banner-wrapper h1 {
        font-size: 50px;
        line-height: 62.5px;
        width: auto;
    }

    .portfolio-banner-wrapper {
        width: 100%;
    }

    .portfolio-item-chars {
        flex-direction: column;
        gap: 25px;
    }

    .portfolio-item-char {
        width: 100%;
    }

    .portfolio-banner-text {
        font-size: 20px;
        line-height: 30px;
    }

    .portfolio-banner .container {
        margin-right: 0;
    }

    .portfolio-banner-wrapper .portfolio-banner-text {
        width: 300px;
        text-align: right;
    }

    .portfolio-banner-image {
        height: calc(100vh - 96px);
    }

    .director .container {
        width: calc(100% - 40px);
    }

    .director-info {
        padding: 25px 0;
    }

    .director-quote {
        padding: 65px 0;
        overflow: hidden;
        width: calc(100% + 40px);
        margin-left: -20px;
    }

    .mobile-socials {
        font-size: 15px;
    }

    .director-quote-text {
        width: 100%;
        padding: 0 20px;
    }

    .quote.quote-right {
        right: -120px;
    }

    .quote.quote-left {
        left: -120px;
    }

    .form-popup-wrapper-title {
        font-size: 50px;
        line-height: 50px;
    }

    .form-popup-wrapper-description {
        line-height: 27.5px;
    }
}
